<div id="private-layout-two-column" class="container-fluid">

  <div class="header-wrapper row">
    <public-header></public-header>
  </div>

	<div class="nav-wrapper row">
    <private-nav></private-nav>
  </div>


<div class="central-wrapper row">
	<aside class="col-xs-12 col-lg-3">
    <private-aside></private-aside>
  </aside>

  <section class="col-xs-12 col-lg-9">
    <article>
      <div class="col-lg-7">
        <header>
            <h3>Bienvenido a la Tienda</h3>
        </header>
        <form action="#" name="tiendaCtrl.formStore" novalidate>
          <article ng-repeat="producto in tiendaCtrl.productos">
            <div class container>
              <div class="row">
                <div class=" col-xs-12 col-lg-3">
                  <img style="width: 100px; height: 100px;" src="{{producto.urlImagen}}">
                </div>
                <div class="col-xs-12 col-lg-6">
                  <p><strong>
                      {{producto.nombre}} |
                      {{producto.precio}}
                      {{producto.moneda}} | <br>
                  </strong>                    
                      {{producto.desc}} 
                  </p>
                </div>
                <div class="col-xs-12 col-lg-3">
                  <div>
                    <div class="col-xs-12 col-lg-5">
                      <input type="number" name="cantidad{{$index}}"  ng-model="producto.cantidad" min="1" max="5" required>                       
                    </div>
                    <div class=" col-xs-12 col-lg-4"> 
                      <button type="button" class="btn btn-success btn-sm" class="form-control" ng-click="tiendaCtrl.addProducto(producto, producto.cantidad)"
                      ng-disabled="tiendaCtrl.formStore.cantidad{{$index}}.$invalid">Agregar</button>
                    </div>
                  </div>
                </div>
              </div>               
            </div>
            <br>                
          </article>
        </form>
      </div>
      <div class="col-xs-12 col-lg-5" style="background-color:E3FFF5 !important;">
        <h2>Carrito</h2>
          <div ng-if="tiendaCtrl.tlt && tiendaCtrl.tlt.total > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <pre>
                {{tiendaCtrl.shoppingCar}}
              </pre>
              <tr ng-repeat="(key, value) in tiendaCtrl.shoppingCar">
                <td>{{value.nombre}}</td>
                <td>{{value.precio}}</td>
                <td>{{value.cantidad}}</td>
                <td><button type="button" class="btn btn-danger btn-sm" ng-click="tiendaCtrl.eliminar(value.id)">Eliminar</button></td>
              </tr>
              <tr>
                <td><p>Total</p></td>
                <td><p>CLP $ {{tiendaCtrl.tlt.total}}</p></td>
                <td><p>{{tiendaCtrl.tlt.cantidad}}</p></td>
                <td><button type="button" class="btn btn-success btn-sm" ng-click="tiendaCtrl.comprar()">Comprar</button></td>
              </tr>
            </tbody>
          </table>
          </div>
          <div ng-if="(tiendaCtrl.tlt && tiendaCtrl.tlt.total > 0)? false : true">
            <p>{{tiendaCtrl.msj}} <a href="{{tiendaCtrl.rutas.appBaseUrl+tiendaCtrl.rutas.compra}}" ng-if="tiendaCtrl.irCompras" >Ir a Mis Compras</a></p>
          </div>
      </div>
    </article> 
  </section>  
</div>

<div class="footer-wrapper row">
    <footer class="col-xs-12">
        <header>
            <h2>Links Oficiales</h2>
        </header>
        <a href="#/">Inicio</a> |
        <a href="http://www.queenonline.com/" target="_blank">Sitio Oficial</a> |
        <a href="#/contacto">Contacto</a>
    </footer>
</div>

</div>